.contact__inner__cta {
  margin-bottom: 3.3rem;
}

.blog__link__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 29.38px;
}

.blog__container__item {
  font-size: 34px;
  font-weight: 700;
  line-height: 49.94px;
  align-items: center;
  display: flex;
}

.contact__btn {
  display: inline-block;
}
.Contact__hero {
  color: $Dark-color;
}
